[Unit]
Description=SonoMKR Storage Service
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/local/bin/sonomkr/storage/storage-manager.py -c /etc/sonomkr/storage.conf

Restart=on-failure

[Install]
WantedBy=multi-user.target
